*{
    margin:0;
}

body{
    background-color: black;
    color: chartreuse;
    text-align: center;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    display: flex;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
}

table,td,th{
    border: 5px solid red ;
}